body, html {
    height: 100%;
}

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: lightgray;
}
.form-box {
    max-width: 500px;
    width: 100%;
    padding: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: dodgerblue;
}

.btn-back {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.btn-back p {
    display: inline-block;
    margin-left: 20px;
    height: 10px;
}

#btn-buscar, #btn-enviar {
    background-color: gold;
    margin-left: 5px;
    color: black;
    font-weight: 600;

}
@media screen and (max-width: 768px){
    .body,html {
        padding-top: 400px;
    }

    .btn-back {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: gold;
        color: black;
    }

    .btn-back p {
        display: none;
    }
    
   
}
